@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 600;
    color: #FCEDDA;
    background-color: #EE4E34;

}

/* header and logo */

h1, h2 {
    font-family: Nunito+Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FCEDDA;
}

#logo {
    float: left;
    font-size: 310%;


}

/* Navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 4px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #FCEDDA;
}

.active {
    border-bottom: 1px solid #FCEDDA;
}