@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 600;
    color: #FCEDDA;
    background-color: #EE4E34;

}

/* header and logo */

h1, h2 {
    font-family: Nunito+Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FCEDDA;
}

#logo {
    float: left;
    font-size: 410%;
    margin-left: 30px;


}

/* Navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 4px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #FCEDDA;
}

.active {
    border-bottom: 1px solid #FCEDDA;
}

/* Gym image */

#adult-gym {
    height: 800px;
    width: 60%;
    background: url('../images/adult-gym.jpg') no-repeat center center;

}

#cover-text, #cover-text h2 {
    color: #FCEDDA;

}

#cover-text {
    font-size: 130%;
    font-family: Nunito+Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, 0.5);

    bottom: 300px;
    right: 150px;

    position: absolute;

}

#adult-outer {
    height: 600px;
    width: 100%;

    
}

/* About gym */

#main-gym {
    height: 600px;

}

#main-gym h1 {
    padding-top: 250px;
    
}

#left-about {
    padding-top: 100px;
    width: 25%;
    float: left;
}

#right-about {
    padding-top: 100px;
    width: 25%;
    float: right;
}

#center-about {
    padding-top: 100px;
    width: 25%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #FCEDDA;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;

}

.right-about-heading p {
    text-align: right;
}





/* About us section */

#About-us {
    width: 95%;
    height: 200px;
    float: left;
    text-align: center;

}

/* footer icons */

footer {
    height: 150px;

}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 170%;
    margin: 1%;
    padding: 5%;
    color:#FCEDDA;
}

/* media screens */
