@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 600;
    color: #FCEDDA;
    background-color: #EE4E34;

}

/* header and logo */

h1, h2 {
    font-family: Nunito+Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FCEDDA;
}

#logo {
    float: left;
    font-size: 410%;


}

/* Navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 4px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #FCEDDA;
}

.active {
    border-bottom: 1px solid #FCEDDA;
}

/* Gym image */

#adult-gym {
    height: 800px;
    width: 100%;
    background: url('../images/adult-gym.jpg') no-repeat center center;

}

#cover-text, #cover-text h2 {
    color: #FCEDDA;

}

#cover-text {
    font-size: 130%;
    font-family: Nunito+Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(238, 72, 58, .5);

    bottom: 300px;
    right: 150px;

    position: absolute;
    overflow: hidden;

}

#adult-outer {
    height: 600px;
    width: 100%;

    
}

/* About gym */

#about-gym {
    height: 600px;
    padding-top: 200px

}

#left-about {
    padding-top: 50px;
    width: 13%;
    float: left;

}

#right-about {
    padding-top: 50px;
    width: 13%;
    float: right;

}

#center-about {
    width: 13%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #FCEDDA;
    width: 100%;
    margin: 5px 0;


}

.left-about-heading {
    width: 60%;
    line-height: 20px;
    margin-bottom: 50px;
    margin-left: 30px;
    float: right;
    clear: both;
    
}

.right-about-heading {
    width: 60%;
    line-height: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    float: left;
    clear: both;
    
}

.center-about-heading {
    width: 60%;
    line-height: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    float: 0 auto;
    
}

/* About us section */

#About-us {
    width: 95%;
    height: 300px;
    float: left;
    text-align: center;

}


